@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --ff-title: "Grandstander", sans-serif;
  --ff-text: "Geist", sans-serif;

  --clr-white: #ffffff;
  --clr-mainblue: #407cca;
  --clr-maingreen: #009d4e;
  --clr-maingrey: #717271;

  --clr-aux1: #95dacf;
  --clr-aux2: #6ecb98;
  --clr-aux3: #00afaa;
  --clr-accent1: #ff9e16;
  --clr-accent2: #ea1d76;
}

body {
  background-color: var(--clr-white);
  font-family: var(--ff-text);
  color: var(--clr-maingrey);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-title);
  margin: 0;
}

.espaciado {
  max-width: 1450px;
  margin: 0 auto;
  padding-inline: 2rem;
}


/* header */

/*si*/ .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  color: var(--clr-maingreen);
  background-color: var(--clr-white);
  font-family: var(--ff-title);
  font-size: 1.2rem;
  top: 0;
  position: sticky;
  z-index: 99999;
  border-bottom: 3px solid var(--clr-maingreen);
}

/*si*/ .main-header .logo {
  max-width: 15rem;
}

/*nav bar*/

/*si*/ .nav-list {
  margin: 0;
  display: flex;
  gap: 1rem;
}

/*si*/ .nav-link, .dropdown .nav-link {
  position: relative;
  width: max-content;
  padding: 2px;
}

/*si*/ .nav-link:hover, .dropdown:hover .dropbtn {
  color: var(--clr-accent2);
  font-weight: bold;
}

/*si*/ .seleccion, .dropdown .seleccion {
  color: var(--clr-accent2);
  font-weight: bold;
  border-bottom: solid 3px;
}

/*si*/ .dropbtn {
  background-color: var(--clr-white);
  border: none;
  cursor: pointer;
}

/*si*/ .dropdown {
  float: left;
}

/*si*/ .dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: var(--clr-white);
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px var(--clr-maingrey);
  z-index: 1;
  font-size: 1rem;
}

/*si*/ .dropdown-content a {
  border-radius: 10px;
  color: var(--clr-maingreen);
  padding: 6px 16px;
  text-decoration: none;
  display: block;
}

/*si*/ .dropdown-content a:hover {
  color: var(--clr-mainblue);
  font-weight: bold;
}

/*si*/ .dropdown:hover .dropdown-content {
  display: block;
}






/* general */

/*si*/ .section {
  padding-block: 1rem;
  text-align: center;
}

/*si*/ .titulo-pag {
  background-color: var(--clr-maingreen);
  color: var(--clr-white);
  align-items: center;
  text-align: center;
  padding-block: 0.5rem;
  border-bottom: 1.5px solid var(--clr-maingreen);
}

/*si*/ .section-maintitle {
  padding-top: 1rem;
  color: var(--clr-aux2);
  display:inline-block;
  border-bottom: 3px solid var(--clr-aux2);
}

/*si*/ .section-title {
  padding-top: 1rem;
  color: var(--clr-aux1);
  text-align: left;
}

/*si*/ .section-title-grey {
  padding-top: 1rem;
  color: var(--clr-maingrey);
  text-align: left;
}


/*si*/ .section-text {
  padding: 0.5rem 0 1rem 0;
  text-align: justify;
}

/*si*/ .section-text-center {
  padding: 0.5rem 0 1rem 0;
  text-align: center;
}

/*si*/ .section-dark {
  background-color: var(--clr-mainblue);
  color: var(--clr-white);
  padding-block: 1rem;
}

/* formato tablas */

/*si*/ table {
  border-collapse: collapse;
}

/*si*/ table caption {
  font-size: 0.8rem;
  font-style: italic;
}

/*si*/ table th {
  padding: 5px;
  text-align: center;
  color: var(--clr-accent2);
  border: 1px solid var(--clr-accent2);
  font-size: 0.9rem;
}

/*si*/ thead th {
  padding: 5px;
  text-align: center;
  background-color: var(--clr-accent2);
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
  font-size: 0.9rem;
}

/*si*/ table td {
  padding: 5px;
  border: 1px solid var(--clr-accent2);
  font-size: 0.9rem;
}

/*si*/ tfoot {
  text-align: center;
  font-weight: bold;
  background-color: var(--clr-accent2);
  color: var(--clr-white);
}














/* acordeón (nosotros-->transparencia*/

/*si*/ .section-inner-accordion {
  margin: 0.5rem 0 0.5rem 0;
  border: 3px solid var(--clr-aux2);
  border-radius: 3px;
}


/* Style the buttons that are used to open and close the accordion panel */
/*si*/ .accordion {
  background-color: var(--clr-white);
  color: var(--clr-aux1);
  cursor: pointer;
  padding: 1rem 1rem 0 1rem;
  width: 100%;
  text-align: left;
  border: none;
  font-family: var(--ff-title);
  font-size: 1.5rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/*si*/ .accordion:hover {
  background-color: var(--clr-aux1);
  color: var(--clr-white);
}

/*si*/ .active {
  background-color: var(--clr-aux1);
  color: var(--clr-white);
  font-weight: bold;
}

/* Style the accordion panel. Note: hidden by default */
/*si*/ .panel {
  padding: 0 10px;
  background-color: var(--clr-white);
  max-height: 0;
  overflow: hidden; /* Oculta el contenido que exceda el límite de max-height */
  transition: max-height 0.2s ease-out;
}

/*si*/ .accordion:after {
  content: '+';
  font-size: 2rem;
  color: var(--clr-maingrey);
  float: right;
  margin-left: 5px;
}

/*si*/ .active:after {
  content: '-';
  color: var(--clr-maingrey);
}








/*si*/ .listado {
  list-style: disc;
  text-align: left;
}

/*si*/ .listado-secundario {
  list-style: circle;
  text-align: left;
}





/*si*/ a.button {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--clr-white);
  background-color: var(--clr-accent1);
}

/*si*/ p.link {
  padding: 1rem;
  color: var(--clr-accent1);
}

#intro {
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#intro .logo {
  width:55%;
  padding: 0.5rem;
}



#intro-mision {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

/*si*/ .foto {
  object-fit: cover;
  overflow: hidden;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 50px;
  background-color: var(--clr-accent2);
}


/* si */ .foto-valores {
  max-width:45rem;
}

/* si */ .graficas {
  display: flex;
  flex-direction: row;
}

/*si*/ .grafica {
  object-fit: cover;
  overflow: hidden;
  padding: 0.5rem;
  margin: 1rem;
}



.resultados-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "escuelas fraccionamientos empresas"
    "todos todos todos";
  justify-content: center;
  align-items: top;
  text-align: center;
  font-size: 1rem;
  padding-block: 1rem;
}

.res-escuelas {
  grid-area: escuelas;
}

.res-fraccionamientos {
  grid-area: fraccionamientos;
}

.res-empresas {
  grid-area: empresas;
}

.res-todos {
  grid-area: todos;
}

.listado li:empty::marker {
  display: none;
}




























/* ------- testimonios ------- */




/* Slideshow container */
/* .slideshow-container {
  position: relative;
  background: #f1f1f1f1;
} */

/* Slides */
/* .mySlides {
  display: none;
  padding: 80px;
  text-align: center;
} */

/* Next & previous buttons */
/* .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

/* Position the "next button" to the right */
/* .next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
} */

/* The dot/bullet/indicator container */
/* .dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
} */

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */

/* Add a background color to the active dot/circle */
/* .active, .dot:hover {
  background-color: var(--clr-aux1);
} */

/* Add an italic font style to all quotes */
/* q {font-style: italic;} */

/* Add a blue color to the author */
/* .author {color: cornflowerblue;} */













/* wrapper es para mantener el footer abajo */

/*si*/ .wrapper {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* footer */

/*si*/ .footer-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "social logo donar"
    "cierre cierre cierre";
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  padding-block: 1rem;
}

/*si*/ .footer-social {
  grid-area: social;
}

/*si*/ .footer-social a {
  font-size: 2rem;
  padding: 0.35rem;
}

/*si*/ .footer-logo {
  grid-area: logo;
}

/*si*/ .footer-logo .logo {
  width: 40%;
}

/*si*/ .footer-donar {
  grid-area: donar;
}

/*si*/ .footer-cierre {
  grid-area: cierre;
}