@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --ff-title: "Grandstander", sans-serif;
  --ff-text: "Geist", sans-serif;

  --clr-white: #ffffff;
  --clr-mainblue: #407cca;
  --clr-maingreen: #009d4e;
  --clr-maingrey: #717271;

  --clr-aux1: #95dacf;
  --clr-aux2: #6ecb98;
  --clr-aux3: #00afaa;
  --clr-accent1: #ff9e16;
  --clr-accent2: #ea1d76;
}

body {
  background-color: var(--clr-white);
  font-family: var(--ff-text);
  color: var(--clr-maingrey);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-title);
  margin: 0;
}

.espaciado {
  max-width: 1450px;
  margin: 0 auto;
  padding-inline: 2rem;
}


/* header */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  color: var(--clr-maingreen);
  background-color: var(--clr-white);
  font-family: var(--ff-title);
  font-size: 1.2rem;
  top: 0;
  position: sticky;
  z-index: 99999;
  border-bottom: 1.5px solid var(--clr-maingreen);
}

.main-header .logo {
  max-width: 15rem;
}

.nav-list {
  margin: 0;
  display: flex;
  gap: 1rem;
}

.nav-link, .dropdown .nav-link {
  position: relative;
  width: max-content;
  padding: 5px;
}

.nav-link::after, .dropdown .nav-link::after {
  content: "";
  position: absolute;
  background-color: var(--clr-maingreen);
  height: 0;
  width: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.nav-link:hover, .dropdown .nav-link:hover {
  color: var(--clr-white);
  font-weight: bold;
}

.nav-link:hover::after, .dropdown .nav-link:hover::after {
  height: 100%;
  width: 100%;
  border-radius: 15%;
}

.dropdown:hover>.dropdown-menu {
  display: block;
  font-family: var(--ff-text);
}

.dropdown>.dropdown-toggle:active {

  /* Without this, clicking will make it sticky */
  pointer-events: none;
} 

.dropdown-toggle:after {
  margin: 0;
  border: 0;
}

.dropdown-text {
  color: var(--clr-maingreen);
}

.seleccion {
  font-weight: bold;
}
























/* general */

.section {
  padding-block: 1rem;
  /* scroll-margin-top: 10rem; */
}

.section-title {
  padding-top: 1rem;
}

.section-text {
  padding: 0.5rem 0 1rem 0;
}

.section-dark {
  background-color: var(--clr-mainblue);
  color: var(--clr-white);
  padding-block: 1rem;
  /* scroll-margin-top: 10rem; */
}

.titulo-pag {
  background-color: var(--clr-aux1);
  color: var(--clr-white);
  align-items: center;
  text-align: center;
  padding-block: 0.5rem;
  border-bottom: 1.5px solid var(--clr-maingreen);
}

.listado {
  display: list-item;
  list-style: disc;
  text-align: left;
}





a.button {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 20px;
  color: var(--clr-white);
  background-color: var(--clr-aux1);
}




#intro {
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#intro .logo {
  width:40%;
  padding: 0.5rem;
}

#intro-mision {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.foto {
  object-fit: cover;
  overflow: hidden;
  padding: 1rem;
}


.foto-valores {
  max-width:45rem;
}



.resultados-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "escuelas fraccionamientos empresas"
    "todos todos todos";
  justify-content: center;
  align-items: top;
  text-align: center;
  font-size: 1rem;
  padding-block: 1rem;
}

.res-escuelas {
  grid-area: escuelas;
}

.res-fraccionamientos {
  grid-area: fraccionamientos;
}

.res-empresas {
  grid-area: empresas;
}

.res-todos {
  grid-area: todos;
}

.listado li:empty::marker {
  display: none;
}




/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #cfd2cf;
  color: var(--clr-mainblue);
  cursor: pointer;
  padding: 1rem 1rem 0 1rem;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: var(--ff-title);
  font-size: 1.5rem;

}




/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
  color: var(--clr-mainblue);
  font-weight: bold;
}

.accordion:hover {
  font-weight: bold;
}

/* Style the accordion panel. Note: hidden by default */
/* .panel {
  padding: 0 18px;
  background-color: var(--clr-white);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} */
.panel {
  padding: 0 10px;
  background-color: var(--clr-white);
  max-height: 0;
  overflow: hidden; /* Oculta el contenido que exceda el límite de max-height */
  transition: max-height 0.2s ease-out;
}





/* .accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  /* font-size: 13px;
  color: var(--clr-aux1);
  float: right;
  margin-left: 5px;
} */

/* .active:after {
  content: "\2796"; Unicode character for "minus" sign (-) */
  /* color: var(--clr-aux1);
} */

















/* wrapper es para mantener el footer abajo */

.wrapper {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* footer */

.footer-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "social logo donar"
    "cierre cierre cierre";
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  padding-block: 1rem;
}

.footer-social {
  grid-area: social;
}

.footer-social a {
  font-size: 2rem;
  padding: 0.35rem;
}

.footer-logo {
  grid-area: logo;
}

.footer-logo .logo {
  width: 40%;
}

.footer-donar {
  grid-area: donar;
}

.footer-cierre {
  grid-area: cierre;
}